extends baseEmail

block content 
    p Hi #{username},
    p Welcome to our MarketPath Application! 
    p In this app you can view live information about various crypto currency!
    p If you need any help with this application, please don't hesitate to contact us!
